.login{
  margin-top: 20px;
}

.back{
   background-image: url("./assets/javeriana.jpg");
}

.box{
  margin-top: 55px;
  border-top:4px solid #F8CD00;
  background-color: #FFF;
  width:100%;
  margin-bottom: 100px;
}

.top{
  margin-top: 40px;
}

h2{
  color:#2C5697;
}
h6{
  color: #6182C8;
}

input{
  padding: 3%;
  width: 100%;
  border:2px solid #2C5697;
  background: #FFF;
  color: #a1a1a0;
}
.input1{
  margin-top: 5px;
}

.input2{
  margin-top:10px;
  margin-bottom:10px;
}
.vl{
  margin-left: 25px;
  margin-top:10px;
  border-left:2px solid #2C5697;
  height: 140px;
}
.container2{
  margin-top: 40px;
  margin-right:20px;
  margin-left: 15px;
}

.image{
  width: 100%;
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;

}


.boton{
  padding: 1% 4%;
  border:2px solid #2C5697;
  background: #FFF;
  color:#2C5697;
  margin-top: 40px;
  margin-bottom: 30px;
  
}
.buttonContainer{
  text-align: center;
}



@media (max-width: 992px) {
    .vl{
        display:none;
    }
    .image{
      margin-left: 0px;
    }
    .container2{
      margin-top: 0px;
    }
}