
.backNav{
	background-color: #002E68;
}

.title{
	color:#FFF;
	font-weight: bold;
	font-size: 30px;

}

h2{
	margin-top: 20px;
	margin-bottom: 20px;
}
.info{
	margin:1px;
}
.card{
	margin-bottom: 20px !important;
}
.cards{
	/*max-width: 15rem;*/
	/*max-height: 10.2rem;*/
	background-color: #2C5697;
	font-size: 20px;
	border:none !important ; 
}
.principalcard{
	/*max-width: 30rem;*/
	/*max-height: 13rem;*/
	background-color: #2C5697;
	border:none !important;
	font-size: 20px;
}